# Default environments
[DEFAULT]
GCC_PREPROCESSOR_DEFINITIONS: DEBUGGING_ENV=0
CONFIGURATION: Release

[NetworkingLib]
CONFIGURATION: $[DEFAULT:CONFIGURATION]

[DatabaseLib]
CONFIGURATION: $[DEFAULT:CONFIGURATION]
GCC_PREPROCESSOR_DEFINITIONS: $[DEFAULT:GCC_PREPROCESSOR_DEFINITIONS]

[MyFramework]
CONFIGURATION: $[DEFAULT:CONFIGURATION]
GCC_PREPROCESSOR_DEFINITIONS: $[DEFAULT:GCC_PREPROCESSOR_DEFINITIONS]

[MyApp]
CONFIGURATION: $[DEFAULT:CONFIGURATION]
GCC_PREPROCESSOR_DEFINITIONS: $[DEFAULT:GCC_PREPROCESSOR_DEFINITIONS]
